/* Cambie el "body" por un "*" porque esto directamente aplica a todo*/
*{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    box-sizing: border-box;
    background-color: rgb(41, 36, 43);
    color: rgb(190, 180, 180);
}
/* Modifique la clase contenedor paara que tenga un margen por cuestiones esteticas mas que nada y le di el color de fondo para que le aplique a todo lo que va a tener clase de contenedor*/
.contenedor{
    width: 85%;
    margin: auto;
    padding: 60px;
    background-color: rgb(41, 36, 43);
}
/* Esto maneja lo que seria eel rectagulo del encabezado, el z-index es para que este siempre encima de todo lo que venga despues, y los position para que se mantenga siempre en la parte de arriba mientras scrolleamos*/
.navegacion{
    z-index: 99;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    padding:0%;
    display: flex;
    justify-content: center;
    height: 70px;
}
/* Esto es que el rectangulo que encuadra el logo sea del tamaño del encabezado*/
.logo{
    height: 70;
}
/* y aca configuro como se comporta la imagee del logo en si*/
.logo img{
    display: block;
    height: 100%;
}
.titulo{
    padding-top: 20px;
    padding-right: 30px;
    color:  rgb(224, 216, 216);
}
/* de aca para abajo le doy estilo a los links del menu*/
.enlaces{
    position: relative;
}
.enlaces li{
    padding-top: 20px;
    width: auto;
    height: auto;
    display: inline-block;
    text-decoration: none;
}

.enlaces a{
    margin-top: 10px;
    padding: 20px;
    padding-left: 10px;
    font-size: 1.1rem;
    text-decoration: none;
    color: rgb(224, 216, 216);
}

/* Esto es todo lo que vendria siendo el menu contextual de la seccion de contenido, para que aparesca y desaparesca cuando se pone el mouse en sima*/

.menu_contenido_btn{
    display: inline-block;
    padding-left: 30px;
    text-align: justify;
    cursor: pointer;
    border: none;
    color:  rgb(224, 216, 216);
}
.menu_contenido li{
    background-color: rgba(224, 216, 216,0);
    padding-bottom: 5px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10%;
}
.menu_contenido a{
    display: block;

    background-color: rgba(224, 216, 216,0);
    color: rgb(41, 36, 43);
    font-size: 1.2rem;
    border-radius: 10%;
}
.menu_contenido{
    position: absolute;
    display: none;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color:rgba(224, 216, 216,0.9) ;
    color: rgb(41, 36, 43);
    transform: translateX(+4px);

}

/* aca lo que hago es que cambie el color del link cuando el puntero del mouse esta encima, le sume que cambie el color del fondo para que se destaque un poco más*/
.enlaces a:hover{
    color: black;
    background-color: darkorange;
}
.contenido:hover{
    color: rgb(219, 199, 158) ;
}
.enlaces > .menu_contenido_btn:hover + .menu_contenido{
    display: block;
}
.menu_contenido:hover{
    display: block;
}
.menu_contenido a:hover{
    color: rgb(183, 0, 255);
}

/* Esto es para centrar la imagen que viene despues del encabezado y el z-index para asegurar que la imagen quede debajo del encabezado cuando scrolleamos*/
#imagen_intro{
    position:relative; left: 10%; top: auto;
    z-index: 0;
}
/*Centré los subtitulos*/
h2{
    text-align: center;
}

/* La Clase izquierda está asignada a la imagen que está en los contenidos de html5 y css, la flotamos para que quede en la misma línea que el texto*/
.izquierda{
    float: left;
    margin-right: 20px;
}

.Btn_Incribirse{
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
 
    margin: 10px 190px;
}

.Btn_Incribirse a{
    background-color: darkorange;
    text-decoration: none;
    color: black;
    text-align: right;
    border-radius: 10px;
    padding: 10px;
}

.Btn_Incribirse a:hover{
    background-color: lightsalmon;
    color: white;
}

.multimedia{
    background-color: white;
}
video{
    width: 70%;
    margin: 0 15%;
}

#creadores{
    display: flex;
    justify-content: center;
}

.creador{
    width: 300px;
    border: 1px solid silver;
    border-radius: 10px;
    margin: 10px;    
}

.creador figure{
    margin: 0;
    padding: 0;
    text-align: center;
}

.creador h2{
    text-align: center;
}

.creador img{
    width: 80%;
    margin: 10px 10%;
}

